* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'El Messiri', sans-serif;
    background: #CDCDCD;
}

.footer {
    display: none;
}
input {
    font-size: 20px;
    height: 55px;
    width: 100%;
    line-height: 16px;
    border: 3px solid #22292B;
    padding-left: 25px;
    border-radius: 5px;
    color: black;
    background: #E3E3E3;
}


input:focus {
    border: 3px solid white;
    outline: none;
}

main {
    padding-top: 60px;
}

.form-title {
    color: gray;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
}

.register-form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 0 20px 0;
    background: rgba(162, 164, 165, 0.75);
    border-radius: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}
.form-field {
    margin-bottom: 13px;
}

.form-buttons {
    display: block;
}

.button {
    display: block;
    width: 400px;
    font-weight: bold;
    font-size: 14px;
    height: 55px;
    background: gray;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
}

    .button:hover {
        background-color: green;
    }

a.button {
    text-decoration: none;
}

.button-sign {
    color: azure;
    background: aqua;
}

    .button-sign:hover {
        color: azure;
        background: red;
    }

.divider {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: black;
    text-align: center;
    padding: 25px 0 25px 0;
}
