.header {
    font-family: "Playfair Display";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}

.wrapper {
    max-width: 1680px;
    margin: 0 auto;
}

.wrapper--header {
    padding: 0 40px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 70px;
}

.logo {
    font-weight: 700;
    font-size: 26px;
}

.nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 500;
    font-size: 20px
}

.nav__item:not(:first-child) {
    margin-left: 20px;
}

.nav__item {
    position: relative;
    padding: 15px 0;
    transition: 0.3s;
}

.nav__item:hover {
    color: black;
}

