/*body {
    padding-top: 0;
}*/

.main {
    font-family: 'El Messiri', sans-serif;
    background: #CECECEBF;
    margin: 0 auto;
    padding-bottom: 10px;
}

.intro {
    min-height: 100vh;
    background: url(/img/index-backgorund.png) no-repeat;
    padding-top: 263px;
}

.intro__title {
    color: #1E1E1E;
    font-size: 60px;
    max-width: 733px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.form--container {
    margin: 0 auto 0 auto;
    max-width: 733px;
    background-color: rgba(58, 75, 76, 0.55);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

.input--search {
    display: block;
    flex-grow: 2;
    background: rgba(0, 0, 0, 0);
    border: none;
    font-size: 20px;
    padding: 10px;
}

.button--icon--container {
    padding: 7px;
}

.button--icon {
    margin-right: 10px;
    width: 40px;
    height: 58px;
    background-color: #161615;
    border-radius: 10px;
    border: none;
}

    .button--icon:last-child {
        margin-right: 0;
    }
/* For clintes - START **/
.for--clients {
    margin-bottom: 100px;
}

.for--clients__wraper {
    max-width: 1280px;
    margin: 0 auto;
    background: rgba(58, 75, 76, 0.25);
    padding: 60px 60px 30px 60px;
    border-radius: 10px;
    position: relative;
    top: -200px;
}

.for--clients__title {
    font-size: 42px;
    max-width: 3000px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 500;
}

.for--clients__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.for--clients__card {
    width: 350px;
    height: 200px;
    background: #E3E3E3;
    border-radius: 10px;
}
/* For clintes - END **/

/* Information - START **/
.information {
    width: 100%;
    margin-bottom: 80px;
}

.information__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    background: rgba(58, 75, 76, 0.25);
    padding: 60px 110px 160px 110px;
    border-radius: 10px;
}

.information__title {
    font-family: El Messiri;
    font-size: 42px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: center;
}

.information__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.information__card {
    width: 700px;
    height: 400px;
    background: #E3E3E3;
    border-radius: 10px;
    align-self: flex-start;
    margin-bottom: 30px;
}

    .information__card:nth-child(even) {
        align-self: flex-end;
    }
/* Information - END **/
