

.main {
    font-family: 'El Messiri', sans-serif;
    background: #CECECEBF;
    margin: 0 auto;
    padding-bottom: 10px;
}

.intro {
    min-height: 800px;
    background: no-repeat right url(../../img/background-index.svg) #3A4B4C;
    padding-top: 60px;
    position: relative;
    margin-bottom: 100px;
}

.intro_title {
    color: #E3E3E3;
    max-width: 400px;
    font-size: 60px;
    font-weight: 300;
    line-height: 70px;
    letter-spacing: -0.045em;
    text-align: left;
    position: absolute;
    left: 200px;
    top: 250px;
}
/* For clintes - START **/
.for--clients {
    margin-bottom: 100px;
}

.for--clients__wraper {
    max-width: 1280px;
    margin: 0 auto;
    background: #5E6B6C;
    padding: 60px 60px 60px 60px;
    border-radius: 10px;
    position: relative;
}

.for--clients__title {
    font-size: 42px;
    max-width: 3000px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 500;
}

.for--clients__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.for--clients__card {
    width: 350px;
    height: 200px;
    background: #E3E3E3;
    border-radius: 10px;
    display: flex;
}

    .for--clients__card p {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        margin: auto  0;
    }
/* For clintes - END **/

/* Information - START **/
.information {
    width: 100%;
    margin-bottom: 100px;
}

.information__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    background: #5E6B6C;
    padding: 60px 110px 160px 110px;
    border-radius: 10px;
}

.information__title {
    font-family: El Messiri;
    font-size: 42px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: center;
}

.information__cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.information__card {
    height: 410px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.information__card_image {
    margin-right: 30px;
}

    .information__card_image img {
        width: 700px;
        height: 410px;
    }
/* Information - END **/
