@using JSHub.Domain.Enum;
@model JSHub.Domain.ViewModels.Profile.ProfileViewModel;
@{
    Layout = "_Layout-main";
}
<link rel="stylesheet" href="~/css/Registration.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap" rel="stylesheet">
<form autocomplete="off" asp-controller="Profile" asp-action="Create">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="form-fields">
        <div class="form-field">
            <input asp-for="FirstName" type="text" placeholder="Имя" />
        </div>
        <div class="form-field">
            <input  asp-for="LastName" type="text" placeholder="Фамилия" />
        </div>
        <div class="form-field">
            <input asp-for="Age" type="text" placeholder="Возраст" />
        </div>
        <div class="form-field">
            <input asp-for="PhoneNumber" type="number" placeholder="Номер телефона" />
        </div>
        <div class="form-field">
            <textarea asp-for="AboutMe"></textarea>
        </div>
    </div>
    <div class="form-buttons">
        <button class="button" type="submit">Создать профиль</button>
    </div>
</form>