@model Portfolio.Domain.Entity.Profile;
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout-main";
}
@section Links {
    <link rel="stylesheet" href="~/css/Index/index.css" />
    <link rel="stylesheet" href="~/css/Main Layout/white.css" />
}
<main class="main">
    <section class="intro">
        <h2 class="intro_title">Найди то, в чём так сильно нуждаешься</h2>
    </section>
    <section class="for--clients">
        <div class="for--clients__wraper">
            <h2 class="for--clients__title">Для клиентов</h2>
            <div class="for--clients__cards">
                <div class="for--clients__card"><p></p></div>
                <div class="for--clients__card">
                    <p>
                    Art Avenue
                    Веб-сервис для размещения полртфолио.

                    Веб-портфолио — это электронный архив ваших работ и достижений, которые могут помочь вам продвинуться в карьере или в поиске работы.
                    </p>
                </div>
                <div class="for--clients__card"><p></p></div>
            </div>
            <div class="carousel">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
            </div>
        </div>
    </section>
    <section class="information">
        <div class="information__wrapper">
            <h2 class="information__title">
                Информация о сайте
            </h2>
            <div class="information__cards">
                <div class="information__card">
                    <div class="information__card_image">
                        <img src="~/img/site-info-1.png"/>
                    </div>
                    <div class="information__card_content">
                        Люди творческой профессии смогут оставлять свои работы,
                        делиться своим опытом, а также искать себе заказы на работу.
                    </div>
                </div>
                <div class="information__card">
                    <div class="information__card_image">
                        <img src="~/img/site-info-2.png"/>
                    </div>
                    <div class="information__card_content">
                        Веб-портфолио  может быть использовано во время поиска работы, чтобы привлечь внимание работодателей,
                        или во время мониторинга карьерного прогресса, чтобы отслеживать свои лучшие работы в течение времени. 
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>